<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wechat</title>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        flex-direction: column;
    }
    button {
            font-size: 40px;
            padding: 10px 20px;
            cursor: pointer;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div>
        <img src="/static/picture/wechat.jpg" alt="wechat QR code">
    </div>
<button type="button" onclick="window.location.href='http://127.0.0.1:5000/paymentSuccess/{{ g.user.user_id }}'">Payment Completed</button>
</body>
</html>